models/ProGen2/checkpoints/progen2-large/pytorch_model.bin
models/ProGen2/checkpoints/progen2-large/progen2-large.tar.gz
models/ProGen2/checkpoints/progen2-medium/pytorch_model.bin
models/ProGen2/checkpoints/progen2-medium/progen2-medium.tar.gz
models/ESM-IF/esm_if1_20220410.pt
models/ProGen2/checkpoints/progen2-base/pytorch_model.bin
models/ProGen2/checkpoints/progen2-base/progen2-base.tar.gz
models/ProGen2/checkpoints/progen2-small/pytorch_model.bin
models/AntiFold/model.pt
models/ProGen2/checkpoints/progen2-small/progen2-small.tar.gz
models/ProSST/ProSST-2048/model.safetensors
models/ESM-3-Large 
models/ESM-3-Multimer-Large

models/SaProt/bin/foldseek

models/AntiBERTy/antiberty/model/__pycache__/*.pyc
models/AntiBERTy/antiberty/utils/__pycache__/*.pyc
models/AntiBERTy/antiberty/__pycache__/*.pyc